<div class="header_logo">
  <a [routerLink]="['']"></a>
</div>

<div class="header_hb" (click)="toggleMenu()">

</div>

<nav class="header_nav">
  <div class="header_nav_item">
    <a data-scroll href="#welcome">Услуги</a>
  </div>

  <div class="header_nav_item">
    <a data-scroll href="#managers">Сотрудники</a>
  </div>

  <div class="header_nav_item">
    <a data-scroll href="#projects">Кейсы</a>
  </div>

  <div class="header_nav_item">
    <a data-scroll href="#warranty">Гарантии</a>
  </div>

  <div class="header_nav_item">
    <a data-scroll href="#partners">Партнеры</a>
  </div>

  <div class="header_nav_item">
    <a data-scroll href="#contacts">Контакты</a>
  </div>
</nav>