<section class="main_partners">
  <div class="text">
    <h2>
      Наши партнеры
    </h2>
    <p>
      Мы дорожим отношением с партнерами и поддерживаем долгосрочное сотрудничество. Мы пользуемся мобильным оператором Мегафон, храним сбережения в Сбербанке, пользумеся интернетом от Ростелеком, читаем Коммерсантъ, заправляемся на заправках Лукойл и пьем Chivas.
    </p>
  </div>
  <div class="logos">
    <div class="logos_col">
      <div class="logo">
        <div class="img"></div>
      </div>
      <div class="logo">
        <div class="img"></div>
      </div>
      <div class="logo">
        <div class="img"></div>
      </div>
    </div>

    <div class="logos_col">
      <div class="logo">
        <div class="img"></div>
      </div>
      <div class="logo">
        <div class="img"></div>
      </div>
      <div class="logo">
        <div class="img"></div>
      </div>
    </div>
  </div>
</section>

<section class="main_countdown">
  <div class="cntdwn_wrapper">
    <div class="cntdwn">
      <div class="text">
        <h2>
          Домен и целых 3 месяца хостинга в подарок
        </h2>
        <p>
          Успейте воспользоваться предложением до конца акции, времени осталось не так много. Домен в среднем нам обходится в 100 рублей и хостинг в 100 рублей в месяц, но не волнуйтесь за нас, мы это в стоимость услуг уже заложили.
        </p>
      </div>

      <div class="countdown">
        <div class="clock">

        </div>
        <div class="digits">
          <div class="digit">
            <div class="val">4</div>
            <div class="label">года</div>
          </div>

          <div class="digit">
            <div class="val">11</div>
            <div class="label">мес.</div>
          </div>

          <div class="digit">
            <div class="val">24</div>
            <div class="label">дня</div>
          </div>

          <div class="digit">
            <div class="val">16</div>
            <div class="label">часов</div>
          </div>

          <div class="digit seconds">
            <div class="val">59</div>
            <div class="label">сек.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
