@import "~breakpoint-sass";
@import '~reset-css/reset';

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,800|PT+Sans');

* {
  box-sizing: border-box;
}

$s: 48rem;
$m: 60rem;
$l: 80rem;
$xl: 100rem;

$gutter: 1rem;

$margin-xs: 0.5rem;
$margin-s: 1rem;
$margin-m: 1.5rem;
$margin-l: 3rem;

$light-color: #fff;
$primary-color: #212121;
$grey-color: #999999;

body {
  background: $light-color;
}

.app {
  display: flex;
  flex-direction: column;
}

.preloader {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

body, .app {
  min-height: 100vh;
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;

  @include breakpoint($s) {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.footer {
  margin-top: auto;
}

@mixin aspect-ratio($width, $height) {
  position: relative;

  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > img, > svg, > video, > iframe, > div {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin aspect-ratio-modify($width, $height) {
  &:before {
    padding-top: ($height / $width) * 100%;
  }
}

@import 'scss/header';
@import 'scss/footer';
@import 'scss/main';
@import 'scss/frm';
@import 'scss/feedback';

a {
  color: $primary-color;
  text-decoration: none;
}

.btn {
  appearance: none;
  background: none;
  color: $primary-color;
  cursor: pointer;
  display: inline-block;
  border: 1px solid $primary-color;
  padding: 0.6875rem $gutter;
  // position: relative;
  font-size: 0.8125rem;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
  user-select: none;
  outline: none;


  &:hover {
    background: $primary-color;
    color: $light-color;
  }
}

p {
  margin-bottom: $margin-s;

  &.vstup {
    font-family: 'Open Sans', sans-serif;

    font-size: 1.25rem;
    line-height: 1.5rem;

    @include breakpoint($s) {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;

  // @include breakpoint($s) {
    font-weight: 300;
  // }
}

h1 {
  margin-bottom: $margin-m;
  font-size: 2rem;
  line-height: 2.25rem;

  @include breakpoint($s) {
    font-size: 2.8125rem;
    line-height: 3rem;
  }
}

h2 {
  margin-bottom: $margin-m;
  font-size: 1.5rem;
  line-height: 1.75rem;

  @include breakpoint($s) {
    font-size: 2.125rem;
    line-height: 2.5rem;
  }
}

h3 {
  margin-bottom: $margin-xs;
  font-size: 1.25rem;
  line-height: 1.5rem;

  @include breakpoint($s) {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
