.main {
  &_first {
    position: relative;

    .image {
      @include aspect-ratio(4, 5);

      @include breakpoint($s) {
        @include aspect-ratio-modify(3, 2);
      }

      @include breakpoint($m) {
        @include aspect-ratio-modify(2, 1);
      }
    }

    .text {
      font-family: 'Open Sans', sans-serif;
      font-weight: 800;
      font-size: 2.5rem;
      line-height: 2.75rem;
      position: absolute;
      color: $light-color;
      z-index: 1;
      left: 50%;
      letter-spacing: 0.075em;
      top: 50%;
      max-width: $xl;
      width: 100%;
      padding-left: $gutter;
      transform: translate(-50%, -50%);
      text-transform: uppercase;

      @include breakpoint($s) {
        font-size: 5.625rem;
        line-height: 6rem;
      }
    }

    background: {
      color: #f1cb6c;
      image: url('assets/first.jpg');
      repeat: no-repeat;
      size: cover;
      position: center;
    }

  }

  &_facebook {
    background: #3C5A99;
    color: #fff;
    cursor: pointer;
    text-align: center;
    padding: $margin-xs $gutter;

    span {
      border-bottom: 1px solid #fff;
    }
  }

  &_welcome {
    max-width: $xl;
    margin: $margin-l auto;

    > div {
      padding: 0 $gutter;
      margin-bottom: $margin-m;
      width: 100%;


    }

    .rule {
      p {
        margin-bottom: 0;

        .anal {
          color: red;
        }
      }
    }

    @include breakpoint($s) {
      display: flex;
      flex-wrap: wrap;
      margin: $margin-l * 2 auto;

      .rule {
        width: 1 / 3 * 100%;
      }

      .text {
        width: 8 / 12 * 100%;
        margin-right: 4 / 12 * 100%;
      }
    }
  }

  &_managers {
    &_wrapper {
      max-width: $xl;
      margin: $margin-l auto;
    }

    .text {
      padding: 0 $gutter;
    }

    .manager {
      margin-bottom: $margin-m;
      padding: 0 $gutter;

      &:last-child {
        margin-bottom: 0;
      }

      .img {
        @include aspect-ratio(1, 1);

        background: {
          color: #f0f8fe;
          position: center top;
          size: cover;
          repeat: no-repeat;
        }
        margin-bottom: $margin-s;
      }

      h3 {
        margin-bottom: $margin-xs;
      }

      p {
        margin-bottom: 0;
      }

      &_komarova {
        .img {
          background-image: url('assets/komarova.jpg');
        }
      }

      &_zaitseva {
        .img {
          background-image: url('assets/zaitseva.jpg');
        }
      }

      &_marmeladova {
        .img {
          background-image: url('assets/marmeladova.jpg');

          &:before {
            background: {
              color: #f0f8fe;
              position: center top;
              size: cover;
              repeat: no-repeat;
              image: url('assets/marmeladova_hover.jpg');
              visibility: hidden;
            }

            opacity: 0;
            transition: opacity 0.6s;
            z-index: 2;
          }

          &:hover {
            &:before {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }

      &_bigalov {
        .img {
          background-image: url('assets/bigalov.jpg');
        }
      }

    }

    @include breakpoint($s) {
      .managers {
        display: flex;
        flex-wrap: wrap;
      }

      .manager {
        width: 50%;
      }

      &_wrapper {
        margin: $margin-l * 2 auto;
      }
    }

    @include breakpoint($m) {
      .text {
        padding: 0;

        h2 {
          text-align: center;
        }

        p {
          width: 50%;
          margin-left: 25%;
          padding-left: $gutter;
        }
      }

      .manager {
        width: 25%;

        .img {
          @include aspect-ratio-modify(4, 5);
        }
      }
    }
  }

  &_boss {
    padding-top: $margin-l;
    // @include aspect-ratio(1, 1);

    background: {
      image: url('assets/boss.jpg');
      // color: #f8f8f8;
      size: 140%;
      repeat: no-repeat;
      position: 40% bottom;
    }

    padding-bottom: $margin-m;

    .text {
      padding: 0 $gutter;
      margin-bottom: 60%;
      // width: 10 / 12 * 100%;
      // margin-left: 2 / 12 * 100%;

      h3 {
        margin-bottom: $margin-xs;
      }

      p {
        color: #999999;
      }
    }

    @include breakpoint($s) {
      padding-top: $margin-l * 2;
      // margin-bottom: $margin-l * 2;

      .text {
        width: 5 / 12 * 100%;
        margin-left: 6 / 12 * 100%;

        margin-bottom: 50%;
      }
    }

    @include breakpoint($m) {
      min-height: $s;
      background-size: cover;
      background-position: 40% top;
      padding-bottom: 0;

      .text {
        margin-bottom: 0;
        max-width: 45rem;
      }
    }
  }

  &_projects {
    max-width: $xl;
    margin: $margin-l auto;

    > div {
      padding: 0 $gutter;
      margin-bottom: $margin-m;
      width: 100%;
    }

    .project {
      &_left, &_right {
        text-align: center;

        h3 {
          margin-bottom: $margin-xs;
        }

        p {
          color: #999999;
        }

        .img {
          @include aspect-ratio(1, 1);

          background: {
            color: #f0f8fe;
            position: center;
            repeat: no-repeat;
            size: cover;
          }
          margin-bottom: $margin-s;
          width: 100%;

          &_1 {
            background-image: url('assets/project-1.jpg');
          }

          &_2 {
            background-image: url('assets/project-2.jpg');
          }
        }
      }
    }

    @include breakpoint($s) {
      display: flex;
      flex-wrap: wrap;
      margin: $margin-l * 2 auto;

      .project {
        &_left, &_right {
          width: 50%;
          margin-bottom: 0;


          .img {
            @include aspect-ratio-modify(3, 2);
          }

          p {
            margin-bottom: 0;
          }
        }
      }
    }

    @include breakpoint($m) {
      .text {
        width: 8 / 12 * 100%;
      }

      .project_left {
        width: 8 / 12 * 100%;

        p {
          margin: 0 (1 / 8 * 100%);
        }
      }

      .project_right {
        width: 4 / 12 * 100%;

        .img {
          @include aspect-ratio-modify(2, 2.76);
        }
      }
    }

    @include breakpoint($l) {
      .project_left {
        p {
          margin: 0 (2 / 8 * 100%);
        }
      }
    }
  }

  &_warranty {
    background: {
      color: #0b0e10;
      image: url('assets/warranty.jpg');
      repeat: no-repeat;
      size: cover;
      position: center bottom;
    }

    color: $light-color;
    padding: $margin-l 0;

    .text {
      padding: 0 $gutter;
      margin-bottom: 12rem;

      ul {
        li {
          margin-bottom: $margin-s;
        }
      }
    }

    &_wrapper {
      max-width: $xl;
      margin: auto;
    }

    @include breakpoint($s) {
      padding: $margin-l * 2 0;

      .text {
        width: 6 / 12 * 100%;
        margin-left: 5 / 12 * 100%;
      }
    }

    @include breakpoint($l) {
      min-height: $s;

      .text {
        margin-bottom: 18rem;

        ul {
          display: flex;
          flex-wrap: wrap;

          margin: 0 (-$gutter);

          li {
            padding: 0 $gutter;
            width: 50%;
          }
        }
      }
    }
  }

  &_partners {
    position: relative;
    margin: $margin-l auto;
    max-width: $xl;

    &:after {
      background: #f0f8fe;
      content: '';
      display: none;
      position: absolute;
      left: 0;
      height: 100%;
      width: 50vw;
      margin-left: -50vw;
    }

    .text {
      padding: 0 $gutter;
    }

    .logos {
      padding: 0 $gutter 0 0;

      &_wrapper {
        display: flex;
        flex-wrap: wrap;
      }

      .logo {
        width: 50%;

        @include aspect-ratio(3, 2);

        .img {
          // height: 40px;
          // background: $grey-color;
          top: 50%;
          bottom: 0;
          transform: translateY(-50%);
          left: 1 / 6 * 100%;
          right: 1 / 6 * 100%;
          width: 4 / 6 * 100%;
          height: auto;

          fill: #999;

          * {
            transition: fill 0.2s;
          }

          &.rt {
            .b {
              fill: #666;
            }
          }

          &.lukoil {
            .b {
              fill: #fff;
            }
          }

          &:hover {
            &.megafon {
              .a {
                fill: #00975d;
              }
            }

            &.sberbank {
              .a {
                fill: #1a9f29;
              }
            }

            &.rt {
              .a {
                fill: #00aae7;
              }

              .b {
                fill: #ee761c;
              }

              .c {
                fill: #2b2a29;
              }
            }

            &.kommersant {
              path, polyline {
                fill: #000;
              }
            }

            &.lukoil {
              .a {
                fill: #db2b36;
              }

              .b {
                fill: #fff;
              }
            }

            &.chivas {
              .a {
                fill: #8b6e4a;
              }
            }
          }
        }
      }
    }

    @include breakpoint($s) {
      display: flex;
      flex-wrap: wrap;
      margin: ($margin-l * 2) auto;

      &:after {
        display: block;
      }

      .text {
        width: 5 / 12 * 100%;
        // margin: 0 1 / 24 * 100%;
        align-self: center;

        p {
          margin-bottom: 0;
        }

      }

      .logos {
        order: -1;
        width: 6 / 12 * 100%;

        &_wrapper {
          background: #f0f8fe;
        }

        .logo {
          // @include aspect-ratio-modify(1, 1);
        }
      }
    }

    @include breakpoint($m) {
      .text {
        width: 4 / 12 * 100%;
        margin: 0;
      }

      .logos {
      }
    }

    @include breakpoint($l) {
      .logos {
        &_wrapper {
          padding-right: 1 / 7 * 100%;
        }

        .logo {
          .img {
            right: 0;
            left: 2 / 6 * 100%;
          }
        }
      }
    }
  }

  &_countdown {
    background: #f8f8f8;
    padding: $margin-l 0;

    .cntdwn {

      &_wrapper {
        max-width: $xl;
        margin: auto;
      }

      padding: 0 $gutter;
      margin: auto;

      .text {
        text-align: center;
      }
    }

    .countdown {
      margin-top: $margin-l;


      .clock {
        // width: 2 / 8 * 100%;
      }

      .digits {
        display: flex;
        // width: 6 / 8 * 100%;
      }

      .digit {
        // @include aspect-ratio(1, 1);

        background: $light-color;
        border-radius: 6px;

        padding: $margin-m 0 $margin-s;
        width: 1 / 5  * 100%;
        margin-right: 8px;
        text-align: center;

        &:last-child {
          margin-right: 0;
        }

        .val {
          font-size: 1.5rem;
          font-weight: 300;
          font-family: 'Open Sans', sans-serif;
        }
      }
    }

    @include breakpoint($s) {
      padding: $margin-l * 2 0;

      .countdown {
        display: flex;

        .clock {
          width: 2 / 8 * 100%;
        }

        .digits {
          width: 6 / 8 * 100%;
        }

        .digit {
          .val {
            font-size: 2.8125rem;
            line-height: 3rem;
          }
        }
      }
    }

    @include breakpoint($m) {
      .cntdwn {
        width: 8 / 12 * 100%;
      }
    }
  }

  &_contacts {
    max-width: $xl;
    margin: $margin-l auto;

    .city, .feedback {
      padding: 0 $gutter;
    }

    .city {
      margin-bottom: $margin-m;

      .title {
        margin-bottom: $margin-s;
      }

      .address {
        font-size: 0.875rem;
        color: $grey-color;
      }
    }

    .feedback {
      font-size: 0.875rem;
      color: $grey-color;
      margin-top: $margin-l;

      .btn {
        margin-bottom: $margin-xs;
      }

      .phone {
        font-size: 1rem;
        color: $primary-color;
      }

    }

    @include breakpoint($s) {
      display: flex;
      margin: ($margin-l * 2) auto;

      .city, .feedback {
        width: 25%;
      }

      .city {
        margin-bottom: 0;
      }

      .feedback {
        margin-top: 0;
      }
    }

    @include breakpoint($l) {
      .city, .feedback {
        width: 2 / 12 * 100%;
      }

      .feedback {
        margin-left: auto;
      }
    }
  }
}