<section class="main_contacts" id="contacts">
  <div class="city">
    <div class="title">
      Москва
    </div>

    <div class="address">
      Капотня, 2-й квартал, 5
      <br>
      Москва, 109429
      <br>
      Россия
    </div>
  </div>

  <div class="city">
    <div class="title">
      Detroit
    </div>

    <div class="address">
      Schaefer Hwy
      <br>
      Detroit 17037
      <br>
      United States
    </div>
  </div>

  <div class="city">
    <div class="title">
      Malé
    </div>

    <div class="address">
      Jambu Magu
      <br>
      Malé
      <br>
      Maldives
    </div>
  </div>


  <div class="feedback">
    <a [routerLink]="['feedback']" class="btn">Заявка в никуда</a>
    <div class="or_call">
      или звоните
      <br>
      <span class="phone">
        +7 (495) 999-99-99
      </span>
    </div>

  </div>
</section>